[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"
  environment = { NODE_VERSION = "18", VITE_API_URL = "https://securecom-backend-t494.onrender.com" }

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
